<!DOCTYPE html>
<html>
<head>
<title>Sign Up Page</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="\Static\Main CSS.css">
</head>

<body class="page1">
    <form method="POST">
        <div class="container">
          <label for="username"><b>Username</b></label>
          <input type="text" placeholder="Enter Username" name="username" required>

          <label for="email"><b>Email</b></label>
          <input type="email"placeholder="Enter Email" name="email" required>
      
          <label for="password" id="psw1"><b>Password</b></label>
          <input type="password" placeholder="Enter Password" name="password" required>

          <label for="psw" id="psw2"><b>Repeat Password</b></label>
          <input type="password" placeholder="Enter Password" name="psw" required>
      
          <button type="submit">Sign Up</button>
          <label>
            <span class="login"> <a href="\login">Login?</a></span>
          </label>
      </form>
</body>
</html>