<!doctype html>
<html>
    <head>
        <link rel="stylesheet" href="/static/style.css">
        <link rel="stylesheet" href="//use.fontawesome.com/releases/v5.15.4/css/all.css">
    </head>
    <body>
        <div class="topnav">
            <a href="{{ url_for('home') }}"><i class="fas fa-home"></i></a>
            <a href="{{ url_for('index') }}"><i class="far fa-compass"></i></a>
            {% if current_user.is_anonymous %}
            <a href="{{ url_for('login') }}">Login</a>
            {% else %}
            <a href="{{ url_for('post') }}"><i class="fas fa-plus"></i></a>
            <a href="{{ url_for('user', username=current_user.username) }}"><i class="fas fa-user"></i></a>
            <a href="{{ url_for('logout') }}"><i class="fas fa-sign-out-alt"></i></a>
            {% endif %}
            <a href="{{ url_for('post') }}">Create Post</a>

            {% if g.search_form %}
                <div class="search-container">
                    <form action="{{ url_for('search') }}" method="get" novalidate>
                        {{ g.search_form.search(size=32, placeholder=g.search_form.search.label.text) }}
                        {{ g.search_form.submit() }}           
                    </form>
                </div>
            {% endif %}
        </div>    

        {% block content %}{% endblock %}
        {{ moment.include_moment() }}
    </body>
</html>