<!doctype html>
<html>
    <head>
        <link rel="stylesheet" href="/static/style.css">
        <link rel="stylesheet" href="//use.fontawesome.com/releases/v5.15.4/css/all.css">
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="/static/script.js" defer></script>
    </head>
    <body>
        <div class="topnav">
            <a href="{{ url_for('main.home') }}"><i class="fas fa-home"></i></a>
            <a href="{{ url_for('main.index') }}"><i class="far fa-compass"></i></a>
            {% if current_user.is_anonymous %}
            <a href="{{ url_for('main.login') }}">Login</a>
            {% else %}
            <a href="{{ url_for('main.user', username=current_user.username) }}"><i class="fas fa-user"></i></a>
            <a href="{{ url_for('main.post') }}"><i class="fas fa-plus"></i></a>
            <a href="{{ url_for('main.logout') }}"><i class="fas fa-sign-out-alt"></i></a>
            {% endif %}
            {% if (g.search_form and (explore or search)) %}
                <div class="search-container">
                    <form action="{{ url_for('main.search') }}" method="get" novalidate>
                        {{ g.search_form.search(size=20, placeholder=g.search_form.search.label.text) }}
                        <button onclick="g.search_form.submit()"><i class="fas fa-search"></i></button>   
                    </form>
                </div>
            {% endif %}
        </div>   
        {% block content %}{% endblock %}
        {{ moment.include_moment() }}
    </body>
</html>