{% extends "base.html" %}

{% block content %}
<div class="container">
    <div class="post">
        <div class="post-content">
            <div class="post-text">
                <h4>{{ post.title }}</h4>
                <p><i>Posted by: {{ post.author.username }}</i><p>
                <p>{{ post.body }}</p>
            </div>
            <div class="timestamp">
                <p1><i>{{ moment(post.timestamp).format('LLL') }}</i></p1>
            </div>
        </div>
    </div>
    <form class="form" action="" method="post" novalidate>
        {{ form.hidden_tag() }}

        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
                {% if message == "Your comment has been published!" %}
                <div class="success">
                    <p>{{ message }}</p>
                </div>
                {% else %}
                <div class="error">
                    <p>{{ message }}</p>
                </div>
                {% endif %}
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}

        <p>
            {{ form.comment.label }}
            <br>
            <p>{{ form.comment(size=32) }}</p>
            {% for error in form.comment.errors %}
            <div class="error">
                <p>{{ error }}</p>
            </div>            
            {% endfor %}
        </p>
        <button class="cancel" type="button" onclick="location.href=('/post/{{post.id}}?prev={{ prev }}')">Cancel</button>
        <button class="submit" type="button" onclick="form.submit()">Submit</button>
</form>
{% endblock %}