{% extends "base.html" %}

{% block content %}
<div class="container">
    <button class="post-action" onclick="location.href=('/post/{{post.id}}')"><i class="fas fa-arrow-left"></i></button>
    <div class="post">
        <div class="post-content">
            <div class="post-author">
                <img class="author-picture" src="{{ post.author.avatar(128) }}" alt="Profile picture">
                <p><b>chef/{{ post.author.username }}</b><p>
            </div>
            <div class="timestamp">
                <p style="font-size: 13px;"><i>{{ moment(post.timestamp).format('LLL') }}</i></p>
            </div>
        </div>
        <div class="post-text">
            <h3>{{ post.title }}</h3>
            {% if post.file %}
                <img src="/static/images/{{ post.file }}" alt="Image for post {{post.title}}">
            {% endif %}
            <pre>{{ post.body }}</pre>
        </div>
    </div>
    <form class="form" method="post" novalidate>
        {{ form.hidden_tag() }}

            {% with messages = get_flashed_messages() %}
            {% if messages %}
            <ul>
                {% for message in messages %}
                    <p class="error">{{ message }}</p>
                {% endfor %}
            </ul>
            {% endif %}
            {% endwith %}

            <p>
                {{ form.comment.label }}
                <br>
                <p>{{ form.comment(size=32) }}</p>
                {% for error in form.comment.errors %}
                <div class="error">
                    <p>{{ error }}</p>
                </div>            
                {% endfor %}
            <button class="button" type="button" onclick="form.submit()">Submit</button>
    </form>
</div>
    {% endblock %}