{% extends "base.html" %}

{% block content %}
<div class="post">
    <h2>Title: {{ post.title }}</h2>
    <p>User: {{ post.author.username }}<p>
    <p>Post: {{ post.body }}</p>
</div>
<form class="form" action="" method="post" novalidate>
    {{ form.hidden_tag() }}

        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
                <div class="error">
                    <p>{{ message }}</p>
                </div>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}

        <p>
            {{ form.comment.label }}
            <br>
            {{ form.comment(size=32) }}
            {% for error in form.comment.errors %}
            <div class="error">
                <p>{{ error }}</p>
            </div>            
            {% endfor %}
        </p>
        <p>{{ form.submit() }}</p>
        <button type="button" onclick="location.href=('/post/{{post.id}}')">Cancel</button>
</form>
{% endblock %}