<!doctype html>
<html lang="en">

<head>
    <title>Edit Profile</title>
</head>

{% extends "base.html" %}

{% block content %}
<div class="container">
    <img class="chef-icon-form" src="/static/images/female-chef.svg" alt="chef-icon">
    <h2 class="chef-message-form">Tell other chefs about yourself!</h2>
 </div>
<div class="grey-container">
    <form class="form" method="post">
        <h1>Edit Profile</h1>
        {{ form.hidden_tag() }}
        <p>
            {{ form.username.label }}
            <br>
            {{ form.username(size=32) }}
            {% for error in form.username.errors %}
            <div class="error">
                <p>{{ error }}</p>
            </div>            
            {% endfor %}
        </p>
        <p>
            {{ form.email.label }}
            <br>
            {{ form.email(size=32) }}
            {% for error in form.email.errors %}
            <div class="error">
                <p>{{ error }}</p>
            </div>         
            {% endfor %}
        </p>
        <p>
            {{ form.bio.label }}
            <br>
            {{ form.bio(size=32) }}
            {% for error in form.bio.errors %}
            <div class="error">
                <p>{{ error }}</p>
            </div>         
            {% endfor %}
        </p>
        <button class="cancel" type="button" onclick="location.href=('/user/{{current_user.username}}')">Cancel</button>
        <button id="submit-profile" class="button" type="button" onclick="form.submit()">Submit</button>
    </form>
</div>
{% endblock %}