{% extends "base.html" %}

{% block content %}
<div class="container">
    <h1>Edit Profile</h1>
    <form class="form" action="" method="post">
        {{ form.hidden_tag() }}
        <p>
            {{ form.username.label }}
            <br>
            {{ form.username(size=32) }}
            {% for error in form.username.errors %}
            <div class="error">
                <p>{{ error }}</p>
            </div>            
            {% endfor %}
        </p>
        <p>
            {{ form.email.label }}
            <br>
            {{ form.email(size=32) }}
            {% for error in form.email.errors %}
            <div class="error">
                <p>{{ error }}</p>
            </div>         
            {% endfor %}
        </p>
        <p>
            {{ form.bio.label }}
            <br>
            {{ form.bio(size=32) }}
            {% for error in form.bio.errors %}
            <div class="error">
                <p>{{ error }}</p>
            </div>         
            {% endfor %}
        </p>
        <button class="cancel" type="button" onclick="location.href=('/user/{{ current_user.username }}')">Cancel</button>
        <button class="submit" onclick="form.submit()">Submit</button>
    </form>
</div>
{% endblock %}