{% extends "base.html" %}

{% block content %}
<div class="row">
    <div class="top-row-left-column top-column">
        <br>
        <br>
        <div class="home-text">
            <br>
            <br>
            <br>
            <br>
            <h1>What to Cook?</h1>
            <p>The place where no leftovers go to waste.</p>
            <button id="start-cooking" class="button" onclick="location.href=('/register' )">Start Cooking!</button>
            <p>Have an account? <a href="{{ url_for('main.login') }}">Click to Login!</a></p>
            <br>
        </div>
    </div>
    <div class="top-row-right-column top-column">
        <br>
        <br>
        <div class="carousel-section">
            <div class="carousel" data-carousel>
                <button class="carousel-button prev" data-carousel-button="prev">&#60;</button>
                <button class="carousel-button next" data-carousel-button="next">&#62;</button>
                <ul data-slides>
                    {% for post in posts %}
                    {% if post.file %}
                    <li class="slide" data-active onclick="location.href=('/post/{{ post.id }}?prev=/home')" style="cursor: pointer;">
                        <img src="/static/images/{{post.file }}" alt="Image for post {{post.title}}">
                        <p><i>Made by: chef/{{post.author.username}}</i></p>
                    </li>
                    {% endif %}
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</div>
<br>
<h2>About us</h2>
<div class="row">
    <div class="bottom-row-left-column bottom-column">
        <div class="our-aim">
            <div class="about-us-text">
                <h4>Our Aim</h4>
                <p>At What To Cook?, we believe that everyone has potential to be a chef. Whether it's at a restaurant or at home, every kitchen holds endless possibilities, especially when it comes to leftovers. Founded by a passionate group of foodies, our website is dedicated to helping new chefs transform ordinary leftovers into meals that delight.</p>
            </div>
        </div>
    </div>
    <div class="bottom-row-right-column bottom-column">
        <div class="what-we-do">
            <div class="about-us-text">
                <h4>What we offer</h4>
                <p>Through our collaborative community and inventive cooking tips, we empower you to be a confident and sustainable chef capable of whipping up a good meal with anything. Join us to explore how you can elevate your cooking and use leftover ingredients in delicious and unexpected ways. We can't wait to help you start your chef journey!</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}