{% extends "base.html" %}

{% block content %}
    {% if current_user.is_anonymous != True %}
    <h1>Hi, {{ current_user.username }}!</h1>
    {% endif %}
    <h1>What would you like to cook?</h1>
    {% for post in posts %}
    <div id="div" class="post" onclick="location.href=('/post/{{post.id}}' )" style="cursor: pointer;">
        <h2>Title: {{ post.title }}</h2>
        <p>User: {{ post.author.username }}<p>
        <p>Post: {{ post.body }}</p>
        <p>{{ moment(post.timestamp).format('LLL') }}</p>
        <p>{{ post.comments_count() }} comments</p>
    </div>
    {% endfor %}
{% endblock %}

