{% extends "base.html" %}

{% block content %}
    <div class="container">
        {% if current_user.is_anonymous != True %}
        <h2>Hi, {{ current_user.username }}!</h2>
        {% endif %}
        <h2>What would you like to cook?</h2>
    </div>
    <hr>
    <div class="container">
        {% for post in posts %}
        <div class="post" onclick="location.href=('/post/{{post.id}}' )" style="cursor: pointer;">
            <p>chef/{{ post.author.username }}<p>
            <h3>{{ post.title }}</h3>
            <p>{{ post.body }}</p>
        </div>
        <br>
        {% endfor %}
    </div>
{% endblock %}

