<!doctype html>
<html lang="en">

<head>
    <title>Log In</title>
</head>

{% extends "base.html" %}

{% block content %}
<div class="container">
    <form class="form" action="" method="post" novalidate>
        <h1 id="sign-in">Sign In</h1>
        {{ form.hidden_tag() }}

        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
                    <div class="error">
                        <p>{{ message }}</p>
                    </div>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}

        <p>
            {{ form.username.label }}
            <br>
            {{ form.username(size=32) }}
            {% for error in form.username.errors %}
            <div class="error">
                <p>{{ error }}</p>
            </div>            
            {% endfor %}
        </p>
        <p>
            {{ form.password.label }}
            <br>
            {{ form.password(size=32) }}
            {% for error in form.password.errors %}
            <div class="error">
                <p>{{ error }}</p>
            </div>         
            {% endfor %}
        </p>
        <p>{{ form.remember_me() }} {{ form.remember_me.label }}</p>
        <button id="submit-credentials" class="button" onclick="form.submit()">Submit</button>
        <br>
        <br>
        <p>New User? <a id="register" href="{{ url_for('main.register') }}">Click to Register!</a></p>
    </form>
</div>

{% endblock %}