<!doctype html>
<html lang="en">

<head>
    <title>Create a Post page</title>
</head>

{% extends "base.html" %}


{% block content %}
    <div class="container">
        <h3>Hi, {{ current_user.username }}! What's cooking today?</h3>
        <form class="form" action="" method="post" enctype="multipart/form-data">
            {{ form.hidden_tag() }}
            <p>
                {{ form.title.label }}<br>
                {{ form.title(cols=32, rows=1) }}<br>
                {% for error in form.title.errors %}
                <div class="error">
                    <p>{{ error }}</p>
                </div>           
                {% endfor %}
            </p>
            <p>
                {{ form.post.label }}<br>
                {{ form.post(cols=32, rows=4) }}<br>
                {% for error in form.post.errors %}
                <div class="error">
                    <p>{{ error }}</p>
                </div>           
                {% endfor %}
            </p>
            <p>
                {{ form.file.label }}<br>
                {{ form.file(cols=32, rows=1) }}<br>
                {% for error in form.file.errors %}
                <div class="error">
                    <p>{{ error }}</p>
                </div>           
                {% endfor %}
            </p>
            <button class="cancel" type="button" onclick="location.href=('/index')">Cancel</button>
            <button class="button" onclick="form.submit()">Submit</button>
        </form>
    </div>
{% endblock %}