<!doctype html>
<html lang="en">

<head>
    <title>Post View</title>
</head>

{% extends "base.html" %}

{% block content %}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
    $(document).ready(function () {
        $(".active").removeClass("far fa-thumbs-up").addClass("fas fa-thumbs-up");

        $(".like-click").click(
            function () {
                if ($(this).hasClass("active")) {
                    $(this).removeClass("fas fa-thumbs-up").addClass("far fa-thumbs-up");
                } else {
                    $(this).removeClass("far fa-thumbs-up").addClass("fas fa-thumbs-up");
                }
            }
        );

        $(".like-hover").hover(
            function () {
                if ($(this).hasClass("active")) {
                    $(this).removeClass("fas fa-thumbs-up").addClass("far fa-thumbs-up");
                } else {
                    $(this).removeClass("far fa-thumbs-up").addClass("fas fa-thumbs-up");
                }
            },
            function () {
                if ($(this).hasClass("active")) {
                    $(this).removeClass("far fa-thumbs-up").addClass("fas fa-thumbs-up");
                } else {
                    $(this).removeClass("fas fa-thumbs-up").addClass("far fa-thumbs-up");
                }
            }
        );

        $(".comment-hover").hover(
            function () {
                $(this).removeClass("far fa-comment").addClass("fas fa-comment");
            },
            function () {
                $(this).removeClass("fas fa-comment").addClass("far fa-comment");
            }
        );
    });
</script>

    <div class="container">
        <button class="post-action" onclick="location.href=('{{ prev }}')"><i class="fas fa-arrow-left"></i></button>
        <div class="post">
            <div class="post-content">
                <div class="post-author">
                    <img class="author-picture" src="{{ post.author.avatar(128) }}">
                    <p><b><a href="{{ url_for('main.user', username=post.author.username) }}">chef/{{ post.author.username }}</a></b><p>
                </div>
                <div class="timestamp">
                    <p style="font-size: 13px;"><i>{{ moment(post.timestamp).format('LLL') }}</i></p1>
                </div>
            </div>
            <div class="post-text">
                <h3>{{ post.title }}</h3>
                {% if post.file %}
                <img src="/static/images/{{ post.file }}" alt="Image for post {{post.title}}">
                {% endif %}
                <pre>{{ post.body }}</pre>
            </div>
            <div class="post-actions">
                {% if current_user.is_anonymous != True %}
                <button class="post-action" type="button" onclick="location.href=('/post/{{post.id}}/like')" style="justify-content: left;">{{ post.likes_count() }} <i class="far fa-thumbs-up like-click like-hover {% if current_user in post.liked_by %}active{% endif %}"></i></button>
                <button class="post-action" type="button" onclick="location.href=('/post/{{post.id}}/comment')">{{ post.comments_count() }} <i class="far fa-comment comment-hover"></i></button>
                {% elif current_user.is_anonymous == True %}
                <button class="post-action" type="button" onclick="location.href=('/login')">{{ post.likes_count() }} <i class="far fa-thumbs-up like-click like-hover"></i></button>
                <button class="post-action" type="button" onclick="location.href=('/login')">{{ post.comments_count() }} <i class="far fa-comment comment-hover"></i></button>
                {% endif %}
            </div>
        </div>
        <br>
        <div class="comment-section">
            {% for comment in comments %}
            <div class="comment">
                <div class="comment-content">
                    <div class="comment-author">
                        <div class="comment-author-content">
                            <img class="author-picture-comment" src="{{ post.author.avatar(128) }}">
                            <p><b>{{ comment.author.username }}</b>:<p>
                        </div>
                    </div>
                    <div class="comment-text">
                        <pre class="comment-text-content">{{ comment.comments }}</pre>
                    </div>
                </div>
                <div class="comment-timestamp">
                    <p style="font-size: 13px;"><i>{{ moment(comment.timestamp).format('LLL') }}</i></p>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>

{% endblock %}