{% extends "base.html" %}

{% block content %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
    var like_count = 0
    $(document).ready(function(){
        $(".like-click").click(
            function() {
                like_count += 1 
                if (like_count % 2 == 0) {
                    $(this).removeClass("fas fa-thumbs-up").addClass("far fa-thumbs-up");
                }
                if (like_count % 2 == 1) {
                    $(this).removeClass("far fa-thumbs-up").addClass("fas fa-thumbs-up");
                }
            }
        );
    });
    $(document).ready(function(){
        $(".like-hover").hover(
            function() {
                if (like_count % 2 == 0) {
                    $(this).removeClass("far fa-comment").addClass("fas fa-comment");
                }
            }, 
            function() {
                if (like_count % 2 == 0) {
                $(this).removeClass("fas fa-comment").addClass("far fa-comment");
                }
            }               
        );
    });

    $(document).ready(function(){
        $(".comment-hover").hover(
            function() {
                $(this).removeClass("far fa-comment").addClass("fas fa-comment");
            }, 
            function() {
                $(this).removeClass("fas fa-comment").addClass("far fa-comment");
            }               
        );
    });
</script>

    {% for post in posts %}
    <div class="container">
        <button class="post-action" onclick="location.href=('/index')"><i class="fas fa-arrow-left"></i></button>
        <div class="post">
            <div class="post-content">
                <div class="post-author">
                    <img class="author-picture" src="{{ post.author.avatar(128) }}">
                    <p><b>chef/{{ post.author.username }}</b><p>
                </div>
                <div class="timestamp">
                    <p1><i>{{ moment(post.timestamp).format('LLL') }}</i></p1>
                </div>
            </div>
            <div class="post-text">
                <h3>{{ post.title }}</h3>
                <pre>{{ post.body }}</pre>
            </div>
            <div class="post-actions">
                {% if current_user.is_anonymous != True %}
                <button class="post-action" style="justify-content: left;"><i class="far fa-thumbs-up like-click like-hover"></i></button>
                <button class="post-action" type="button" onclick="location.href=('/post/{{post.id}}/comment')">{{ post.comments_count() }} <i class="far fa-comment comment-hover"></i></button>
                {% elif current_user.is_anonymous == True %}
                <button class="post-action"><i class="far fa-thumbs-up like-click like-hover"></i></button>
                <button class="post-action" type="button" onclick="location.href=('/login')">{{ post.comments_count() }} <i class="far fa-comment comment-hover"></i></button>
                {% endif %}
            </div>
        </div>
        <br>
        <div class="comment-section">
            {% for comment in comments %}
            <div class="comment">
                <div class="comment-content">
                    <div class="post-author">
                        <img class="author-picture-comment" src="{{ post.author.avatar(128) }}">
                        <p><b>{{ comment.author.username }}</b>:<p>
                    </div>
                    <div class="comment-text">
                        <pre>{{ comment.comments }}</pre>
                    </div>
                </div>
                <div class="comment-timestamp">
                    <p1><i>{{ moment(comment.timestamp).format('LLL') }}</i></p1>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    {% endfor %}

{% endblock %}