{% extends "base.html" %}

{% block content %}
<div class="container" style="height:100vh">
    <form class="form" method="post">
        <h1>Register</h1>
            {{ form.hidden_tag() }}
            <p>
                {{ form.username.label }}
                <br>
                {{ form.username(size=32) }}
                {% for error in form.username.errors %}
                <div class="error">
                    {{ error }}
                </div>       
                {% endfor %}
            </p>
            <p>
                {{ form.email.label }}
                <br>
                {{ form.email(size=64) }}
                {% for error in form.email.errors %}
                <div class="error">
                    {{ error }}
                </div>                  
                {% endfor %}
            </p>
            <p>
                {{ form.password.label }}
                <br>
                {{ form.password(size=32) }}
                {% for error in form.password.errors %}
                <div class="error">
                    {{ error }}
                </div>
                {% endfor %}
            <p>
                {{ form.password2.label }}
                <br>
                {{ form.password2(size=32) }}
                {% for error in form.password2.errors %}
                <div class="error">
                    {{ error }}
                </div>
                {% endfor %}
            </p>
            <button id="submit" onclick="form.submit()" class="button">Submit</button>
            <p>Have an account? <a href="{{ url_for('main.login') }}">Click to Login!</a></p>
    </form>
</div>
{% endblock %}