<!doctype html>
<html lang="en">

<head>
    <title>Search results page</title>
</head>

{% extends "base.html" %}

{% block content %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
    var like_count = 0
    $(document).ready(function(){
        $(".like-click").click(
            function() {
                like_count += 1 
                if (like_count % 2 == 0) {
                    $(this).removeClass("fas fa-thumbs-up").addClass("far fa-thumbs-up");
                }
                if (like_count % 2 == 1) {
                    $(this).removeClass("far fa-thumbs-up").addClass("fas fa-thumbs-up");
                }
            }
        );
    });
    $(document).ready(function(){
        $(".like-hover").hover(
            function() {
                if (like_count % 2 == 0) {
                    $(this).removeClass("far fa-comment").addClass("fas fa-comment");
                }
            }, 
            function() {
                if (like_count % 2 == 0) {
                $(this).removeClass("fas fa-comment").addClass("far fa-comment");
                }
            }               
        );
    });

    $(document).ready(function(){
        $(".comment-hover").hover(
            function() {
                $(this).removeClass("far fa-comment").addClass("fas fa-comment");
            }, 
            function() {
                $(this).removeClass("fas fa-comment").addClass("far fa-comment");
            }               
        );
    });
</script>

<div class="grey-container">
    {% for post in posts %}
    <div class="post">
        <div class="post-content" onclick="location.href=('/post/{{post.id}}' )" style="cursor: pointer;">
            <div class="post-author">
                <img class="author-picture" src="{{ post.author.avatar(128) }}">
                <p><b><a href="{{ url_for('main.user', username=post.author.username) }}">{{ post.author.username }}</a></b><p>
            </div>
            <div class="timestamp">
                <p style="font-size: 13px;"><i>{{ moment(post.timestamp).format('LLL') }}</i></p>
            </div>
        </div>
        <div class="post-text" onclick="location.href=('/post/{{post.id}}' )" style="cursor: pointer;">
            <h3 id="{{post.id}}-post-title">{{ post.title }}</h3>
            <div class="post-img-section">
                {% if post.file %}
                <img src="/static/images/{{ post.file }}" alt="Image for post {{post.title}}">
                <img  class="post-img-main" src="/static/images/{{ post.file }}" alt="Image for post {{post.title}}">
                {% endif %}
            </div>
            <pre>{{ post.body }}</pre>
        </div>
        <div class="post-actions">
            <button class="post-action"><i class="far fa-thumbs-up like-click like-hover"></i></button>
            <button class="post-action" type="button" onclick="location.href=('/post/{{post.id}}/comment')">{{ post.comments_count() }} <i class="far fa-comment comment-hover"></i></button>
        </div>
    </div>
    <br>
    {% endfor %}
</div>
{% endblock %}
