{% extends "base.html" %}

{% block content %}

<div class="container">
    <div class="profile">
        <div class="profile-content">
            <img id="profile-picture" class="profile-picture" src="{{ user.avatar(128) }}" alt="Profile picture">
        </div>
        <div class="profile-content">
            <h1 id="user-username">{{ user.username }}</h1>
            {% if user.bio %}
            <p id="user-bio">{{ user.bio }}</p>
            {% endif %}
            {% if user.last_active %}
            <p><i id="user-lastactive">Last Active: {{ moment(user.last_active).format('LLL') }}</i></p>
            {% endif %}
            {% if current_user.username == user.username %}
            <button id="edit-profile" class="button" type="button" onclick="location.href=('/edit_profile')">Edit Profile</button>
            {% endif %}
        </div>
    </div>
    <br>
    <div class="profile">
        <div class="profile-content">
        {% if user.posts_count() == 1 %}
            <h3 id="post-count">{{ user.posts_count() }} Post:</h3>
        {% else %}
            <h3>{{ user.posts_count() }} Posts:</h3>
        {% endif %}
        </div>
    </div>
 </div>
<div class="grey-container">
{% for post in posts %}
    <div class="post">
        <div class="post-content" onclick="location.href=('/post/{{ post.id }}?prev=/user/{{ user.username }}')" style="cursor: pointer;">
            <div class="post-author">
                <img id="{{post.id}}-author-picture" class="author-picture" src="{{ post.author.avatar(128) }}" alt="{{ post.author.username }}">
                <p><b><a id="{{post.id}}-post-author" href="{{ url_for('main.user', username=post.author.username) }}">chef/{{ post.author.username }}</a></b><p>
            </div>
            <div class="timestamp">
                <p style="font-size: 13px;"><i id="{{post.id}}-post-timestamp">{{ moment(post.timestamp).format('LLL') }}</i></p>
            </div>
        </div>
        <div class="post-text" onclick="location.href=('/post/{{ post.id }}?prev=/user/{{ user.username }}' )" style="cursor: pointer;">
            <h3 id="{{post.id}}-post-title">{{ post.title }}</h3>
            <div class="post-img-section">
                {% if post.file %}
                <img src="/static/images/{{ post.file }}" alt="Image for post {{post.title}}">
                <img id="{{post.id}}-image" class="post-img-main" src="/static/images/{{ post.file }}" alt="Image for post {{post.title}}">
                {% endif %}
            </div>
            <pre id="{{post.id}}-post-body">{{ post.body }}</pre>
        </div>
        <div id="{{post.id}}-post-actions" class="post-actions">
            {% if current_user.is_anonymous != True %}
            <button class="post-action" type="button" style="justify-content: left;">{{ post.likes_count() }} <i class="fas fa-thumbs-up"></i></button>
            <button class="post-action" type="button" onclick="location.href=('/post/{{post.id}}/comment')">{{ post.comments_count() }} <i class="fas fa-comment"></i></button>
            {% elif current_user.is_anonymous == True %}
            <button class="post-action" type="button" onclick="location.href=('/login')">{{ post.likes_count() }} <i class="fas fa-thumbs-up like-click"></i></button>
            <button class="post-action" type="button" onclick="location.href=('/login')">{{ post.comments_count() }} <i class="fas fa-comment"></i></button>
            {% endif %}
            {% if ADMIN %}
            <button class="post-action" type="button" onclick="location.href=('/index')"><p>Ban user</p> </button>
            <button class="post-action" type="button" onclick="location.href=('/index')"><p>Delete post</p> </button>
            {% endif %}
        </div>
    </div>
    <br>
{% endfor %}
</div>
<div class="pagination-buttons">
    <a href="{{ prev_url }}" {% if not prev_url %} style="visibility:hidden" {% endif %}><i class="fas fa-arrow-left left-arrow"></i></a>
    <a href="{{ next_url }}" {% if not next_url %} style="visibility:hidden" {% endif %}><i class="fas fa-arrow-right right-arrow"></i></a>
</div>  
{% endblock %}