{% extends "base.html" %}

{% block content %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
    var like_count = 0
    $(document).ready(function(){
        $(".like-click").click(
            function() {
                like_count += 1 
                if (like_count % 2 == 0) {
                    $(this).removeClass("fas fa-thumbs-up").addClass("far fa-thumbs-up");
                }
                if (like_count % 2 == 1) {
                    $(this).removeClass("far fa-thumbs-up").addClass("fas fa-thumbs-up");
                }
            }
        );
    });
    $(document).ready(function(){
        $(".like-hover").hover(
            function() {
                if (like_count % 2 == 0) {
                    $(this).removeClass("far fa-comment").addClass("fas fa-comment");
                }
            }, 
            function() {
                if (like_count % 2 == 0) {
                $(this).removeClass("fas fa-comment").addClass("far fa-comment");
                }
            }               
        );
    });

    $(document).ready(function(){
        $(".comment-hover").hover(
            function() {
                $(this).removeClass("far fa-comment").addClass("fas fa-comment");
            }, 
            function() {
                $(this).removeClass("fas fa-comment").addClass("far fa-comment");
            }               
        );
    });
</script>

<div class="container">
    <div class="profile">
        <div class="profile-content">
            <img id="profile-picture" class="profile-picture" src="{{ user.avatar(128) }}" alt="Profile picture">
        </div>
        <div class="profile-content">
            <h1 id="user-username">{{ user.username }}</h1>
            {% if user.bio %}
            <p id="user-bio">{{ user.bio }}</p>
            {% endif %}
            {% if user.last_active %}
            <p><i id="user-lastactive">Last Active: {{ moment(user.last_active).format('LLL') }}</i></p>
            {% endif %}
            {% if current_user.username == user.username %}
            <button id="edit-profile" class="button" type="button" onclick="location.href=('/edit_profile')">Edit Profile</button>
            {% endif %}
        </div>
    </div>
    <br>
    <div class="profile">
        <div class="profile-content">
        {% if user.posts_count() == 1 %}
            <h3 id="post-count">{{ user.posts_count() }} Post:</h3>
        {% else %}
            <h3>{{ user.posts_count() }} Posts:</h3>
        {% endif %}
        </div>
    </div>
 </div>
<div class="grey-container">
{% for post in posts %}
    <div class="post">
        <div class="post-content" onclick="location.href=('/post/{{ post.id }}?prev=/user/{{ user.username }}')" style="cursor: pointer;">
            <div class="post-author">
                <img id="{{post.id}}-author-picture" class="author-picture" src="{{ post.author.avatar(128) }}">
                <p><b><a id="{{post.id}}-post-author" href="{{ url_for('main.user', username=post.author.username) }}">chef/{{ post.author.username }}</a></b><p>
            </div>
            <div class="timestamp">
                <p style="font-size: 13px;"><i id="{{post.id}}-post-timestamp">{{ moment(post.timestamp).format('LLL') }}</i></p>
            </div>
        </div>
        <div class="post-text" onclick="location.href=('/post/{{ post.id }}?prev=/user/{{ user.username }}' )" style="cursor: pointer;">
            <h3 id="{{post.id}}-post-title">{{ post.title }}</h3>
            <div class="post-img-section">
                {% if post.file %}
                <img src="/static/images/{{ post.file }}" alt="Image for post {{post.title}}">
                <img id="{{post.id}}-image" class="post-img-main" src="/static/images/{{ post.file }}" alt="Image for post {{post.title}}">
                {% endif %}
            </div>
            <pre id="{{post.id}}-post-body">{{ post.body }}</pre>
        </div>
        <div id="{{post.id}}-post-actions" class="post-actions">
            <button class="post-action"><i class="far fa-thumbs-up like-click like-hover"></i></button>
            <button class="post-action" type="button" onclick="location.href=('/post/{{post.id}}/comment')">{{ post.comments_count() }} <i class="far fa-comment comment-hover"></i></button>
        </div>
    </div>
    <br>
{% endfor %}
<div class="pagination-buttons">
    <a href="{{ prev_url }}" {% if not prev_url %} style="visibility:hidden" {% endif %}><i class="fas fa-arrow-left left-arrow"></i></a>
    <a href="{{ next_url }}" {% if not next_url %} style="visibility:hidden" {% endif %}><i class="fas fa-arrow-right right-arrow"></i></a>
</div>  
{% endblock %}