{% extends "base.html" %}

{% block content %}
<div class="container">
    <img src="{{ user.avatar(128) }}">
    <h1>User: {{ user.username }}</h1>
    {% if user.bio %}<p>Bio: {{ user.bio }}</p>{% endif %}
    {% if user.last_active %}<p>Last Active: {{ moment(user.last_active).format('LLL') }}</p>{% endif %}
    <button type="button" onclick="location.href=('/edit_profile')">Edit Profile</button>
    
    {% if user.posts_count() == 1 %}
    <h1>{{ user.posts_count() }} Post:</h1>
    {% else %}
    <h1>{{ user.posts_count() }} Posts:</h1>
    {% endif %}

    {% for post in posts %}
    <div id="div" class="post" onclick="location.href=('/post/{{post.id}}' )" style="cursor: pointer;">
        <h2>Title: {{ post.title }}</h2>
        <p>Post: {{ post.body }}</p>
        <p>{{ moment(post.timestamp).format('LLL') }}</p>
        <p>{{ post.comments_count() }} comments</p>
    </div>
    {% endfor %}
    {% if prev_url %}
    <a href="{{ prev_url }}"><i class="fas fa-chevron-left"></i></a>
    {% endif %}
    {% if next_url %}
    <a href="{{ next_url }}"><i class="fas fa-chevron-right"></i></a>
    {% endif %}
</div>    

{% endblock %}